;
; ansible_managed
;

[Const]
    BaseURL = "http://{{ ansible_nodename }}"
    PublicPort = "{{ os_public_port }}"
    PrivatePort = "{{ os_private_port }}"

[Startup]

    PIDFile = "/tmp/Robust.exe.pid"

    RegistryLocation = "."
    ConfigDirectory = "/home/{{ admin_user }}/{{ conf_dir }}/robust-include"
    ConsoleHistoryFileEnabled = true
    ConsoleHistoryFile = "RobustConsoleHistory.txt"


    ConsoleHistoryFileLines = 100

    ; Time stamp commands in history file (default false)
    ; ConsoleHistoryTimeStamp = false


    NoVerifyCertChain = true
    NoVerifyCertHostname = true


[ServiceList]
{% if ansible_nodename in groups['asset_services'] %}
    AssetServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:AssetServiceConnector"
    InventoryInConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:XInventoryInConnector"
{% endif %}

{% if ansible_nodename in groups['login_services'] %}

    GridServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:GridServiceConnector"
    GridInfoServerInConnector = "${Const|PublicPort}/OpenSim.Server.Handlers.dll:GridInfoServerInConnector"
    AuthenticationServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:AuthenticationServiceConnector"
    OpenIdServerConnector = "${Const|PublicPort}/OpenSim.Server.Handlers.dll:OpenIdServerConnector"
    AvatarServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:AvatarServiceConnector"
    LLLoginServiceInConnector = "${Const|PublicPort}/OpenSim.Server.Handlers.dll:LLLoginServiceInConnector"
    PresenceServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:PresenceServiceConnector"
    UserAccountServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:UserAccountServiceConnector"
    GridUserServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:GridUserServiceConnector"
    AgentPreferencesServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:AgentPreferencesServiceConnector"
    FriendsServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:FriendsServiceConnector"
    MapAddServiceConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:MapAddServiceConnector"
    MapGetServiceConnector = "${Const|PublicPort}/OpenSim.Server.Handlers.dll:MapGetServiceConnector"


    MuteListConnector = "${Const|PrivatePort}/OpenSim.Server.Handlers.dll:MuteListServiceConnector"
{% endif %}


[Network]
    port = ${Const|PrivatePort}

    AllowllHTTPRequestIn = false



[AccessControl]



[DatabaseService]

    StorageProvider = "OpenSim.Data.MySQL.dll"
    ConnectionString = "Data Source=localhost;Database={{ db_name }};User ID={{ db_user }};Password={{ db_password}};Old Guids=true;SslMode=None"



{% if ansible_nodename in groups['asset_services'] %}
[AssetService]

    ;Realm = "fsassets"

    LocalServiceModule = "OpenSim.Services.FSAssetService.dll:FSAssetConnector"
    BaseDirectory = "{{ db_assets }}/data"
    SpoolDirectory = "{{ db_assets }}/tmp"


    DefaultAssetLoader = "OpenSim.Framework.AssetLoader.Filesystem.dll"
    AssetLoaderArgs = "./assets/AssetSets.xml"

    AllowRemoteDelete = false
    AllowRemoteDeleteAllTypes = false
{% endif %}



[InventoryService]

    ; http://opensimulator.org/wiki/InventoryService

{% if ansible_nodename in groups['inventory_services'] %}
    LocalServiceModule = "OpenSim.Services.InventoryService.dll:XInventoryService"
{% else %}
        InventoryServerURI = "http://{{ inventory_node }}:{{ os_private_port}}"
{% endif %}
      AllowDelete = true


[LibraryService]
    LibraryName = "OpenSim Library"
    DefaultLibrary = "./inventory/Libraries.xml"

{% if ansible_nodename in groups['grid_services'] %}
[GridService]

    ; Realm = "regions"

    LocalServiceModule = "OpenSim.Services.GridService.dll:GridService"

    Region_Welcome = "DefaultRegion, FallbackRegion"
    ExportSupported = true
{% endif %}

[FreeswitchService]
    LocalServiceModule = "OpenSim.Services.FreeswitchService.dll:FreeswitchService"


{% if ansible_nodename in groups['authentication_services'] %}
[AuthenticationService]

    ; Realm = "auth"

    LocalServiceModule = "OpenSim.Services.AuthenticationService.dll:PasswordAuthenticationService"
{% endif %}


{% if ansible_nodename in groups['openid_services'] %}
[OpenIdService]

    ; Realm = "users"

    AuthenticationServiceModule = "OpenSim.Services.AuthenticationService.dll:PasswordAuthenticationService"
    UserAccountServiceModule = "OpenSim.Services.UserAccountService.dll:UserAccountService"
{% endif %}

{% if ansible_nodename in groups['user_account_services'] %}
[UserAccountService]

    ; Realm = "UserAccounts" 

    LocalServiceModule = "OpenSim.Services.UserAccountService.dll:UserAccountService"


    AuthenticationService = "OpenSim.Services.AuthenticationService.dll:PasswordAuthenticationService"
    PresenceService = "OpenSim.Services.PresenceService.dll:PresenceService"
    GridService = "OpenSim.Services.GridService.dll:GridService"
    AvatarService = "OpenSim.Services.AvatarService.dll:AvatarService"
    GridUserService = "OpenSim.Services.UserAccountService.dll:GridUserService"

    ; Remote
    InventoryService = "OpenSim.Services.Connectors.dll:XInventoryServicesConnector"

    CreateDefaultAvatarEntries = true
{% endif %}

{% if ansible_nodename in groups['grid_user_services'] %}
[GridUserService]
    LocalServiceModule = "OpenSim.Services.UserAccountService.dll:GridUserService"
{% endif %}

{% if ansible_nodename in groups['agent_services'] %}
[AgentPreferencesService]
    LocalServiceModule = "OpenSim.Services.UserAccountService.dll:AgentPreferencesService"
{% endif %}

{% if ansible_nodename in groups['presence_services'] %}
[PresenceService]
    LocalServiceModule = "OpenSim.Services.PresenceService.dll:PresenceService"
{% endif %}

{% if ansible_nodename in groups['avatar_services'] %}
[AvatarService]
    LocalServiceModule = "OpenSim.Services.AvatarService.dll:AvatarService"
{% endif %}

{% if ansible_nodename in groups['friend_services'] %}
[FriendsService]
    LocalServiceModule = "OpenSim.Services.FriendsService.dll:FriendsService"

[Messaging]
    OfflineIMService = "OpenSim.Addons.OfflineIM.dll:OfflineIMService"

[Groups]
    MaxAgentGroups = 42

[MuteListService]
  LocalServiceModule = "OpenSim.Services.MuteListService.dll:MuteListService"
{% endif %}

[EstateService]
    LocalServiceModule = "OpenSim.Services.EstateService.dll:EstateDataService"



{% if ansible_nodename in groups['login_services'] %}
[LoginService]

    LocalServiceModule = "OpenSim.Services.LLLoginService.dll:LLLoginService"

    UserAccountService = "OpenSim.Services.UserAccountService.dll:UserAccountService"
    GridUserService = "OpenSim.Services.UserAccountService.dll:GridUserService"
    AuthenticationService = "OpenSim.Services.AuthenticationService.dll:PasswordAuthenticationService"
    AvatarService = "OpenSim.Services.AvatarService.dll:AvatarService"
    PresenceService = "OpenSim.Services.PresenceService.dll:PresenceService"
    GridService = "OpenSim.Services.GridService.dll:GridService"
    SimulationService ="OpenSim.Services.Connectors.dll:SimulationServiceConnector"
    LibraryService = "OpenSim.Services.InventoryService.dll:LibraryService"
    FriendsService = "OpenSim.Services.FriendsService.dll:FriendsService"

    ;Remote
    InventoryService = "OpenSim.Services.Connectors.dll:XInventoryServicesConnector"

    MinLoginLevel = 0

    WelcomeMessage = "{{ WelcomeMessage }}"
    AllowRemoteSetLoginLevel = "false"
    MapTileURL = "${Const|BaseURL}:${Const|PublicPort}/";
    DSTZone = "America/Los_Angeles;Pacific Standard Time"
{% endif %}

{% if ansible_nodename in groups['map_services'] %}
[MapImageService]
    LocalServiceModule = "OpenSim.Services.MapImageService.dll:MapImageService"
{% endif %}

[BakedTextureService]
    LocalServiceModule = "OpenSim.Server.Handlers.dll:XBakes"
    BaseDirectory = "./bakes"

{% if ansible_nodename in groups['grid_info_services'] %}
[GridInfoService]

    login = ${Const|BaseURL}:${Const|PublicPort}
    gridname = "{{ gridname }}"
    gridnick = "{{ gridnick }}"
    welcome = ${Const|BaseURL}/welcome
    economy = ${Const|BaseURL}/economy
    about = ${Const|BaseURL}/about
    register = ${Const|BaseURL}/register
    help = ${Const|BaseURL}/help
    password = ${Const|BaseURL}/password
{% endif %}



{% if ansible_nodename in groups['user_profile_services'] %}
[UserProfilesService]

    ; Realm = "UserProfiles"

    LocalServiceModule = "OpenSim.Services.UserProfilesService.dll:UserProfilesService"
    Enabled = false

    UserAccountService = OpenSim.Services.UserAccountService.dll:UserAccountService
    AuthenticationServiceModule = "OpenSim.Services.AuthenticationService.dll:PasswordAuthenticationService"
{% endif %}






